---
---

$header-bg-color: #f2931e;
$section-headings-color: #f2931e;


@import "{{ site.theme }}";


.page-header {
  @include large {
    padding: 5rem 12rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

.page-no-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);

  @include large {
    padding: 3rem 12rem;
  }

  @include medium {
    padding: 2rem 4rem;
  }

  @include small {
    padding: 1rem 1rem;
  }
}